* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span.sr-only {
    display: none;
}

.slide-container {
    display: grid;
    place-content: center;
}

.slide-container {
    text-align: center;
}

.slide-container .about_img {
    height: 100%;
}


.slide-container .about_img img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: 10%;
}

.slide-container .text-content {
    margin-top: 5vh;
}
