.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: #121212;
}

#homeVid {
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* @media (min-aspect-ratio: 16/9) {
    #homeVid {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #homeVid {
        width: auto;
        height: 100%;
    }
} */
