* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul.home_social {
    background: rgba( 0, 0, 0, 0.6 );
    box-shadow: 0 0px 16px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border: 1px solid rgba( 0, 0, 0, 0.18 );
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: auto;
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 35%;
    right: 0;
    padding: 0;
}

.home_social li {
    padding: 16px;
    width: 100%;
}

.home_social li a {
    margin: 0;
    width: 100%;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}